2018 Spring/Lab11 Web Service/WebSites/BookFinderClient/ConsumeBookFinderService/Connected Services/localhost/BookFinderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookFinderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60648/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60648/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60648/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookFinderService_GetBookList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookList" />
  </wsdl:message>
  <wsdl:message name="IBookFinderService_GetBookList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookListResponse" />
  </wsdl:message>
  <wsdl:message name="IBookFinderService_FindBook_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBook" />
  </wsdl:message>
  <wsdl:message name="IBookFinderService_FindBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookFinderService_ToBookString_InputMessage">
    <wsdl:part name="parameters" element="tns:ToBookString" />
  </wsdl:message>
  <wsdl:message name="IBookFinderService_ToBookString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToBookStringResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookFinderService">
    <wsdl:operation name="GetBookList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookFinderService/GetBookList" message="tns:IBookFinderService_GetBookList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookFinderService/GetBookListResponse" message="tns:IBookFinderService_GetBookList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookFinderService/FindBook" message="tns:IBookFinderService_FindBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookFinderService/FindBookResponse" message="tns:IBookFinderService_FindBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToBookString">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookFinderService/ToBookString" message="tns:IBookFinderService_ToBookString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookFinderService/ToBookStringResponse" message="tns:IBookFinderService_ToBookString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookFinderService" type="tns:IBookFinderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBookList">
      <soap:operation soapAction="http://tempuri.org/IBookFinderService/GetBookList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBook">
      <soap:operation soapAction="http://tempuri.org/IBookFinderService/FindBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToBookString">
      <soap:operation soapAction="http://tempuri.org/IBookFinderService/ToBookString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookFinderService">
    <wsdl:port name="BasicHttpBinding_IBookFinderService" binding="tns:BasicHttpBinding_IBookFinderService">
      <soap:address location="http://localhost:60648/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>